<div class="container mt-5">
  <div class="form-area">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Full Name:</label>
        <input
          type="text"
          placeholder="Full Name"
          class="form-control"
          formControlName="fullName"
          [ngClass]="{
            'is-invalid': form_controls.fullName.invalid && form_controls.fullName.touched
          }"
        />

        <div
          class="alert alert-danger"
          *ngIf="
            form_controls.fullName.touched &&
            form_controls.fullName.invalid &&
            form_controls.fullName.errors
          "
        >
          {{
            form_controls.fullName.errors["required"]
              ? "The full name is required"
              : "The full name must be at least 5 characters long"
          }}
        </div>
      </div>

      <div class="form-group">
        <label>Email:</label>
        <input
          [ngClass]="{
            'is-invalid': form_controls.email.invalid && form_controls.email.touched
          }"
          type="email"
          placeholder="Email"
          class="form-control"
          formControlName="email"
        />

        <div
          class="alert alert-danger"
          *ngIf="
            form_controls.email.touched && form_controls.email.invalid && form_controls.email.errors
          "
        >
          {{
            form_controls.email.errors["required"]
              ? "The email is required"
              : "The email is invalid"
          }}
        </div>
      </div>

      <div class="form-group">
        <label>Skills</label>
        <input
          type="text"
          formArrayName="skills"
          class="form-control"
          placeholder="Press enter to save the skill"
          #skill_input
        />

        <button
          type="submit"
          class="btn btn-secondary my-3"
          (click)="addSkill(skill_input)"
        >
          Add Skill
        </button>

        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let skill of skills.controls; let index = index"
          >
            {{ skill.value.name }}
            <button class="btn btn-sm btn-danger" (click)="removeSkill(index)">
              X
            </button>
          </li>
        </ul>
      </div>

      <div formGroupName="contactDetails">
        <div class="form-group">
          <label>Address:</label>
          <textarea
            cols="30"
            rows="10"
            [ngClass]="{
              'is-invalid':
                contact_details.address.touched &&
                contact_details.address.invalid &&
                contact_details.address.errors
            }"
            placeholder="Address"
            class="form-control"
            formControlName="address"
          ></textarea>

          <div
            class="alert alert-danger"
            *ngIf="
              contact_details.address.touched &&
              contact_details.address.invalid &&
              contact_details.address.errors
            "
          >
            The address is required
          </div>
        </div>

        <div class="form-group">
          <label>Shipping Address:</label>
          <textarea
            cols="30"
            rows="10"
            [ngClass]="{
              'is-invalid':
                contact_details.shippingAddress.touched &&
                contact_details.shippingAddress.invalid &&
                contact_details.shippingAddress.errors
            }"
            placeholder="Shipping Address"
            class="form-control"
            formControlName="shippingAddress"
          ></textarea>

          <div
            class="alert alert-danger"
            *ngIf="
              contact_details.shippingAddress.touched &&
              contact_details.shippingAddress.invalid &&
              contact_details.shippingAddress.errors
            "
          >
            The address is required
          </div>
        </div>

        <div class="form-group">
          <label>Contact Number:</label>
          <input
            type="text"
            placeholder="(99) 99999-9999"
            [ngClass]="{
              'is-invalid':
                contact_details.contactNo.invalid &&
                contact_details.contactNo.touched
            }"
            class="form-control"
            formControlName="contactNo"
          />

          <div
            class="alert alert-danger"
            *ngIf="
              contact_details.contactNo.touched &&
              contact_details.contactNo.invalid
            "
          >
            The Contact Number is required.
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mb-5" [disabled]="form.invalid">
        Click Me
      </button>
    </form>
  </div>
</div>

