<div class="container mt-5">
  <div class="form-area">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label>Full Name:</label>
        <input
          type="text"
          placeholder="Full Name"
          class="form-control"
          [ngClass]="{ 'is-invalid': fullName.invalid && fullName.touched }"
          ngModel
          name="fullName"
          #fullName="ngModel"
          required
          (change)="getValue(fullName)"
          minlength="5"
        />

        <div
          class="alert alert-danger"
          *ngIf="
            fullName &&
            fullName.touched &&
            fullName.errors &&
            fullName.errors['required']
          "
        >
          Full name is required
        </div>

        <div
          *ngIf="
            fullName &&
            fullName.touched &&
            fullName.errors &&
            fullName.errors['minlength']
          "
          class="alert alert-danger"
        >
          Full name must have at least 5 characters
        </div>
      </div>

      <div class="form-group">
        <label>Email:</label>
        <input
          #email="ngModel"
          type="email"
          placeholder="Email"
          class="form-control"
          [ngClass]="{ 'is-invalid': email.invalid && fullName.touched }"
          ngModel
          required
          name="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        />

        <div
          class="alert alert-danger"
          *ngIf="
            email && email.touched && email.errors && email.errors['required']
          "
        >
          Email is required
        </div>

        <div
          *ngIf="
            email && email.touched && email.errors && email.errors['pattern']
          "
          class="alert alert-danger"
        >
          Invalid Email
        </div>
      </div>

      <div class="form-group">
        <label>Address:</label>
        <textarea
          name="address"
          #address="ngModel"
          cols="30"
          required
          rows="10"
          [ngClass]="{ 'is-invalid': address.invalid && address.touched }"
          placeholder="Address"
          class="form-control"
          ngModel
          name="address"
        ></textarea>

        <div
          class="alert alert-danger"
          *ngIf="
            address &&
            address.touched &&
            address.errors &&
            address.errors['required']
          "
        >
          address is required
        </div>
      </div>

      <button [disabled]="f.invalid" type="submit" class="btn btn-primary">Click Me</button>
    </form>
  </div>
</div>
