<!-- <h1 [class.text-red]="bool">Angular App</h1> -->
<!-- <h1 [style.color]="bool ? 'red' : 'blue'">Style Binding</h1> -->
<!-- <p>{{ message }}</p>
<app-navbar></app-navbar>
<app-post [fromParent]="parentMessage" (messageEvent)="getMessage($event)"></app-post>
<p>{{messageFromOutput}}</p> -->
<!-- <p>{{ message }}</p>
<img [src]="imageUrl" width="30%" />
<div>
  <button (click)="onClick()">Click Me!</button>
</div>
<div>
   <input type="text" (keyup.enter)="onKeyUp(username.value)" #username>
</div>
<div>
   <input type="text" [(ngModel)]="username_" (keyup.enter)="onKeyUp(username_)">
</div>
 -->
<!-- <app-post-form></app-post-form> -->

<!-- <h1>Angular App</h1> -->
<!-- <ul *ngIf="postArr.length; else template">
  <li *ngFor="let post of postArr; let index = index">
    {{ post.id }}: {{ post.content }}<button (click)="onDelete(post)">Delete</button>
  </li>
</ul>
<button (click)="addNew()">Click me!</button>
<ng-template #template>
   asdf
</ng-template> -->

<!-- <ng-container *ngIf="postArr.length; then postList; else noPosts">
</ng-container>

<ng-template #postList>
  <ul>
    <li
      *ngFor="let post of postArr"
      style="display: flex; flex-direction: row; gap: 1rem"
    >
      <p>{{ post.content }}</p>
      <button (click)="onDelete(post)">Delete</button>
    </li>
  </ul>
</ng-template>

<ng-template #noPosts>
  <p>No posts to show!</p>
</ng-template>
<button (click)="addNew()">Click me!</button> -->

<!-- <div>
  <button (click)="stepForm = 'Step 1'">Step 1</button>
  <button (click)="stepForm = 'Step 2'">Step 2</button>
  <button (click)="stepForm = 'Step 3'">Step 3</button>
</div>

<ng-container [ngSwitch]="stepForm">
   <div *ngSwitchCase="'Step 1'"><p>Step 1 Form</p></div>
   <div *ngSwitchCase="'Step 2'"><p>Step 2 Form</p></div>
   <div *ngSwitchCase="'Step 3'"><p>Step 3 Form</p></div>
</ng-container> -->

<!-- <h1
  [ngStyle]="{
    color: isActive ? 'red' : 'blue',
    textTransform: isActive ? 'uppercase' : 'lowercase'
  }"
>
  NgStyle
</h1>


<h1 [ngClass]="{
   'text-red': isActive,
   'font-bold': isActive
}">
   NgClass
</h1> -->

<!-- <app-user-details></app-user-details> -->

<!-- <p>{{ title | uppercase }}</p>
<p>{{ title | lowercase }}</p>
<p>{{ count | number }}</p>
<p>{{ user.city | custom }}</p>
<p>{{ lorem | summary : 50 }}</p> -->

<!-- <app-template-driven-form></app-template-driven-form> -->
<!-- <app-reactive-forms></app-reactive-forms> -->
<!-- <app-custom-validators></app-custom-validators> -->